{% extends 'layout.html' %}

{% block content %}

  <!-- START CAROUSEL -->
  <div id="slider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for item in slides %}
        <li data-target="#slider" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
      {% endfor %}
    </ol>
    <!-- Slides -->
    <div class="carousel-inner">
      {% for item in slides %}
        <div class="item{% if loop.first %} active{% endif %}" {% if item.image %}style="background-image: url('images/{{ item.image }}');"{% endif %}>
          <div class="container">
            <div class="carousel-caption">
              {% if item.title %}<h1>{{ item.title }}</h1>{% endif %}
              {% if item.description %}<p>{{ item.description }}</p>{% endif %}
              {% if item.button %}<p><a class="btn btn-lg btn-default" href="#" role="button">{{ item.button }}</a></p>{% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <a class="left carousel-control" href="#slider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#slider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
  <!-- END CAROUSEL -->

    <div class="container marketing">
      {% for item in topTen %}
        {% include "project_list_item.html" with item %}
      {% endfor %}
    </div>

{% endblock %}
