<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pensá Verde es una plataforma online en la que podemos aprender reciclando entre todos.">
    <meta name="author" content="Jennifer Reid, Alan Reid e Ignacio Orlandini">

    <title>{% block title %}Pensá Verde{% endblock %}</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %}
      <link href="css/main.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
    <!-- START HEADER -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand title" href="#">Pensá Verde</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#">Proyectos</a></li>
                <li><a href="#">Publicar</a></li>
                <li><a href="#">Iniciar Sesión con Facebook</a></li>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- END HEADER -->

    {% block content %}{% endblock %}

    <!-- START FOOTER -->
    <div class="container">
      <footer>
        <p class="pull-right"><a href="#">Ir arriba</a></p>
        <p>Pensá Verde &copy; 2104 &middot; <a href="http://recycloud.com.ar">www.pensaverde.com</a></p>
      </footer>
    </div>
    <!-- END FOOTER -->

    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% block foot %}{% endblock %}
  </body>
</html>
