<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pensá Verde es una plataforma online en la que podemos aprender reciclando entre todos.">
    <meta name="author" content="Jennifer Reid, Alan Reid e Ignacio Orlandini">

    <title>{% block title %}Pensá Verde{% endblock %}</title>

    <link href="{{ config.baseUrl }}css/bootstrap.min.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %}
      <link href="{{ config.baseUrl }}css/carousel.css" rel="stylesheet">
      <link href="{{ config.baseUrl }}css/main.css" rel="stylesheet">
    {% endblock %}

    <script type="text/javascript">
      var config = {};
      config.baseUrl = '{{ config.baseUrl }}';
    </script>
  </head>

  <body>
    <!-- START HEADER -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ config.baseUrl }}">
            <img src="{{ config.baseUrl }}images/logo.png" />
          </a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="menu-home"><a href="{{ config.baseUrl }}">Inicio</a></li>
            <li class="menu-projects"><a href="{{ config.baseUrl }}search">Proyectos</a></li>
            <li class="menu-post"><a href="#">Publicar</a></li>
            <li class="menu-post">
              {% if passport %}
                <a id="login" href="#"><span class="btn btn-primary btn-facebook" role="button">f</span> Iniciar sesión</a>
              {% else %}
                <a id="logout" href="#"><span class="btn btn-primary btn-facebook" role="button">f</span> Cerrar sesión de {{ passport.user.firstName }}</a>
              {% endif %}
            </li>
          </ul>

          <form id="searchForm" class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" id="keywords" class="form-control" placeholder="Objeto o material..." value="{{ keywords }}">
            </div>
            <button type="submit" class="btn btn-success">Buscar</button>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- END HEADER -->

    {% block content %}{% endblock %}

    <!-- START FOOTER -->
    <div class="container">
      <footer>
        <p class="pull-right"><a href="#" id="goTop">Ir arriba</a></p>
        <p>Pensá Verde &copy; 2104 &middot; <a href="{{ config.baseUrl }}">www.pensaverde.com</a></p>
      </footer>
    </div>
    <!-- END FOOTER -->

    <script src="{{ config.baseUrl }}js/jquery-2.1.1.min.js"></script>
    <script src="{{ config.baseUrl }}js/bootstrap.min.js"></script>
    <script src="{{ config.baseUrl }}js/main.js"></script>
    {% block foot %}{% endblock %}
  </body>
</html>
