<div class="row featurette">
  <div class="col-md-8">
    {% if item.title %}<h2 class="featurette-heading">{{ item.title }}</h2>{% endif %}
    {% if item.introduction %}<p class="lead">{{ item.introduction }}</p>{% endif %}
    {% if item.views %}<h4><span class="glyphicon glyphicon-eye-open"></span> {{ item.views }} Vistas {% endif %}</h4>
    {% if item.favs %}<h4><span class="glyphicon glyphicon-heart"></span> {{ item.favs }} Favoritos {% endif %}</h4>
    <a href="{{ config.baseUrl }}project/{{ item.id }}/step/intro" class="btn btn-success btn-lg" role="button">Ver proyecto</a>
  </div>
  <div class="col-md-4">
    {% if item.image %}
      <div class="image" style="background-image: url('uploads/projects/images/{{ item.image }}');">
        <div class="dummy"></div>
      </div>
    {% endif %}
  </div>
</div>

<hr class="featurette-divider">
