{% extends 'layout.html' %}

{% block content %}
    <div class="container">
      {% if results.length %}
        {% for item in results %}
          {% include "project_list_item.html" with results %}
        {% endfor %}
      {% else %}
        <h2 class="featurette-heading">Tu búsqueda no arrojó ningún resultado :(</h2>
        <p class="lead">Animate a crear un proyecto para "{{ keywords }}" vos mismo.</p>
        <a href="#" class="btn btn-success btn-lg" role="button">Publicar</a>
        <hr class="featurette-divider">
      {% endif %}
    </div>

{% endblock %}
