body {
  margin-top: 71px;
}

.navbar-brand > img {
  margin-top: -10px;
}

.carousel {
  margin-top: -20px;
  margin-bottom: 50px;
}

.carousel .carousel-inner .item {
  background-position: center;
}

.featurette .image {
  width: 100%;
  max-width: 370px;
  background-position: center;
  background-size: cover;
}

.featurette .dummy {
  padding-top: 100%;
}

.featurette .btn{
  margin-bottom: 15px;
}


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 50px;
  }
}
